@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}
:root {
    color-scheme: #05445E, #189AB4, #75E6DA, #D4F1F4;
}
.hero {
    position: absolute;
}
.sociallinks {
    text-decoration: none;
}